services:
  qdrant:
    image: qdrant/qdrant:latest
    container_name: rag-qdrant
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - /Volumes/corsair4tb/Users/stephan/docker/qdrant_storage:/qdrant/storage
    restart: unless-stopped
